/*------------------------------------------------------------------
    [Table of contents]

    1.0 SOURCE
    2.0 BASE
        2.1 Default
        2.2 Header
        2.3 Navbar
        2.4 Product          
        2.5 Blog 
    3.0 FOOTER
        3.1 Description
        3.2 All Info
        3.3 Copy Right
    4.0 RESPONSIVE

-------------------------------------------------------------------*/
/*------------------------------ SOURCE ---------------------------------*/
/*------------Variable------------*/
/*---------- Typography ----------*/
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-size: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-size: normal;
}
/*---------- End Typography ----------*/
/*--------------- Mixin ----------------*/
/*--------------- End Mixin ----------------*/
/*------------------------------ BASE --------------------------------*/
/*----------------- Default -----------------*/
/*-------------------------------------------
    [Table of contents]
    
    1 Grid Layout
    2 Custom Slick
    
--------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  padding: 0;
}
/*----------- Grid Layout -----------*/
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row-rev {
  height: 25%;
  padding: 7px 0;
  box-sizing: border-box;
}
.col-rev {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: -15px 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #222;
}
/*----------- End Grid Layout -----------*/
/*----------- Custom Slick ------------*/
.slick-dots {
  position: relative;
  bottom: 0;
  margin-top: -8px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button::before {
  font-size: 12px;
  color: #CCC;
  opacity: 1;
}
.slick-dots li.slick-active button::before {
  font-size: 12px;
  color: #DD2F31;
}
/*----------- End Custom Slick ------------*/
/*----------------- End Default -----------------*/
/*------------- Header -------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: #222;
  opacity: 0.9;
  transition: top 0.5s ease;
  z-index: 50;
}
.header-iner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-iner .logo {
  cursor: pointer;
  padding: 20px 0;
}
.header-iner .form-control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 881px;
}
.header-iner .form-control .menu-bar {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.header-iner .form-control .menu-bar .row {
  width: 592px;
}
.header-iner .form-control .menu-bar .row .col {
  box-sizing: border-box;
  padding: 0 30px;
  width: 16.666%;
}
.header-iner .form-control .menu-bar .row .col a {
  color: #fff;
}
.header-iner .form-control .menu-bar .row .col:last-child {
  display: none;
}
.header-iner .form-control .menu-bar .menu-icon {
  display: none;
}
.header-iner .form-control .icon {
  color: #fff;
  display: flex;
  padding-left: 131px;
  text-align: right;
}
.header-iner .form-control .icon-search {
  cursor: pointer;
  font-size: 16px;
  padding: 0 26px 0 25px;
}
.header-iner .form-control .icon-cart {
  border-left: 1px solid #898989;
  border-right: 1px solid #898989;
  cursor: pointer;
  font-size: 16px;
  padding: 0 26px 0 32px;
}
.header-iner .form-control .icon-user {
  cursor: pointer;
  font-size: 16px;
  margin-left: 26px;
}
/*------------- End Header -------------*/
/*-------------- Navbar -------------*/
/*--------------------------------
    [Table of contents]
    
    1 Banner
    2 Category
    
----------------------------------*/
.navbar {
  /*----------- Banner ------------*/
  /*----------- End Banner ------------*/
  /*------------ Category -----------*/
  /*------------ End Category -----------*/
}
.navbar .banner {
  position: relative;
}
.navbar .banner .img-wall-1 {
  overflow: hidden;
  opacity: 0.4;
  max-height: 950px;
  position: relative;
  z-index: -4;
}
.navbar .banner .img-wall-2 {
  overflow: hidden;
  max-height: 950px;
  margin-top: -950px;
  position: relative;
  z-index: -5;
}
.navbar .banner .img-woman-1 {
  opacity: 0.3;
  height: 770px;
  right: 17.3%;
  position: absolute;
  top: 180px;
  width: 457px;
  z-index: -3;
}
.navbar .banner .img-woman-2 {
  height: 763px;
  right: 17.9%;
  position: absolute;
  top: 188px;
  width: 446px;
  z-index: -2;
}
.navbar .banner .container {
  height: 950px;
  margin-top: -950px;
  position: relative;
  z-index: -1;
}
.navbar .banner .container .info {
  position: absolute;
  top: 293px;
}
.navbar .banner .container .info .text-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
}
.navbar .banner .container .info .text-title p {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: -7px;
  text-align: left;
}
.navbar .banner .container .info .text-des {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: -18px;
  padding-bottom: 60px;
  text-align: left;
  width: 525px;
}
.navbar .banner .container .info button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 170px;
}
.navbar .category-iner {
  display: flex;
  text-align: center;
  margin-top: -77px;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(137, 137, 137, 0.79);
  box-shadow: 0px 0px 7px 3px rgba(137, 137, 137, 0.79);
}
.navbar .category-iner span {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 7px;
}
.navbar .category-iner p {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  width: 300px;
}
.navbar .category-iner .dumbbell .dum {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .category-iner .dumbbell .dum-icon {
  padding-top: 40px;
  padding-bottom: 20px;
}
.navbar .category-iner .stregth .streg {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.navbar .category-iner .stregth .streg-icon {
  padding-top: 30px;
  padding-bottom: 22px;
}
.navbar .category-iner .power .pow {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .category-iner .power .pow-icon {
  padding-top: 26px;
  padding-bottom: 19px;
}
/*-------------- End Navbar -------------*/
/*------------ Product ---------------*/
/*-------------------------------------------
    [Table of contents]
    
    1 Tab Bar
    2 Top Selling
        2.1 Product Hover
    
--------------------------------------------*/
.product-iner {
  /*------- Tab Bar -------*/
  /*---------- End Tab Bar ----------*/
  /*---------- Top Selling ----------*/
  /*---------- End Top Selling -----------*/
}
.product-iner .tab-bar nav {
  position: relative;
  display: flex;
  margin-top: 88px;
  width: 100%;
  border-bottom: 1px solid #898989;
}
.product-iner .tab-bar nav li {
  padding: 0 18px 12px 18px;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.product-iner .tab-bar nav li:hover {
  border-bottom: 2px solid #f00;
}
.product-iner .tab-bar nav li:hover a {
  color: #f00;
}
.product-iner .top-selling .row {
  padding-top: 40px;
  padding-left: 15px;
  height: 739px;
  /*------- Product Hover -------*/
  /*------- End Product Hover -------*/
}
.product-iner .top-selling .row span {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.product-iner .top-selling .row .price {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}
.product-iner .top-selling .row .product {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 331px;
  vertical-align: middle;
}
.product-iner .top-selling .row .product .control {
  position: relative;
  height: 231px;
  padding-bottom: 100px;
  padding-top: 0;
  width: 100%;
}
.product-iner .top-selling .row .product .control img {
  position: relative;
  z-index: -1;
  display: block;
  margin: auto;
  top: 20px;
}
.product-iner .top-selling .row .product .control .col-rev {
  position: absolute;
  text-align: center;
  height: 231px;
  flex-direction: column;
  top: 20px;
  right: 20px;
}
.product-iner .top-selling .row .product .control .col-rev .fas {
  display: none;
}
.product-iner .top-selling .row .product .info {
  position: absolute;
  bottom: 33px;
  left: 31px;
}
.product-iner .top-selling .row .product:hover {
  -webkit-box-shadow: 0px 0px 7px 3px rgba(137, 137, 137, 0.79);
  ox-shadow: 0px 0px 7px 3px rgba(137, 137, 137, 0.79);
}
.product-iner .top-selling .row .product:hover .control .col-rev .fas {
  display: block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border: 1px solid #898989;
  border-radius: 7px 0;
  color: #898989;
}
.product-iner .top-selling .row .product:hover .control .col-rev .fas:hover {
  background-color: #DD2F31;
  color: #fff;
}
/*--------------- End Product -----------------*/
/*--------------- Blog ----------------*/
/*-------------------------------------------
    [Table of contents]
    
    1 Blog Slider
    2 List Logo
    
--------------------------------------------*/
.blog {
  /*---------- Blog Slider ----------*/
  /*----------- End Blog Slider -----------*/
  /*----------- List Logo -----------*/
  /*------------ End List Logo -----------*/
}
.blog .blog-slider .news {
  display: flex;
  flex-direction: column;
  height: 382px;
  width: 754px;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 55px;
}
.blog .blog-slider .news span {
  font-size: 36px;
  font-weight: 700;
}
.blog .blog-slider .news img {
  margin-top: 47px;
  margin-bottom: 27px;
  border-radius: 81px;
}
.blog .blog-slider .news .client-say {
  font-size: 18px;
  font-weight: 400;
  width: 760px;
  margin-top: -3px;
  color: #898989;
}
.blog .blog-slider .news .best-regards {
  margin-top: 27px;
  font-size: 18px;
  font-weight: 700;
}
.blog .blog-slider .news .best-regards p {
  font-size: 14px;
  font-weight: 400;
  color: #898989;
}
.blog .list-logo {
  margin-bottom: -5px;
  padding-left: 15px;
}
.blog .list-logo-iner .row {
  border-top: 1px solid #898989;
  margin-top: 96px;
  padding-top: 40px;
}
.blog .list-logo-iner .row .logo {
  width: 16.667%;
  padding: 0 40px;
  box-sizing: border-box;
  line-height: 100px;
}
/*--------------- End Blog -----------------*/
/*------------------------------ FOOTER ---------------------------*/
/*--------------- Footer ---------------*/
.footer {
  background-color: #111;
  /*---------- End All Info ----------*/
  /*---------- Copy Right -----------*/
  /*---------- End Copy Right -----------*/
}
.footer-iner {
  align-items: center;
  text-align: center;
  margin: auto;
  /*--------- Description ----------*/
  /*--------- End Description ----------*/
  /*---------- All Info ----------*/
}
.footer-iner .description {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  padding-top: 101px;
  width: 713px;
  margin: auto;
  margin-bottom: 57px;
}
.footer-iner .description p {
  padding-top: 14px;
  padding-bottom: 46px;
  font-size: 14px;
  font-weight: 400;
  color: #898989;
}
.footer-iner .description .list-icon {
  color: #898989;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 233px;
  margin-top: -20px;
}
.footer-iner .description .list-icon .fab {
  cursor: pointer;
  margin: 0 25px;
  font-size: 17px;
}
.footer-iner .all-info {
  padding-left: 15px;
  border-top: 1px solid #898989;
}
.footer-iner .all-info .row {
  padding-top: 72px;
}
.footer-iner .all-info .row span {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 27px;
}
.footer-iner .all-info .row i {
  color: #898989;
  font-size: 14px;
  margin-right: 15px;
  height: 25%;
}
.footer-iner .all-info .row a {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  height: 25%;
}
.footer-iner .all-info .row .list-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 135px;
}
.footer-iner .all-info .row .contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-left: -15px;
}
.footer-iner .all-info .row .contact .description {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 0;
}
.footer-iner .all-info .row .contact .description .list-icon {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 135px;
  padding-bottom: 0;
}
.footer-iner .all-info .row .account {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-iner .all-info .row .info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-iner .all-info .row .link {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer .copyright {
  background-color: #000;
  height: 50px;
  color: #898989;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 55px;
}
/*--------------- End Footer ---------------*/
/*------------------------------ RESPONSIVE --------------------------------*/
/*-------------- Responsive -------------*/
/*--------------------------------
    [Table of contents]
    
    1 Max Width 1200px
    2 Max Width 992px
    3 Max Width 768px
    4 Max Width 576px
    5 Max Width 375px
    
----------------------------------*/
/*---------- Max Width 1200px -------------*/
@media all and (max-width: 1200px) {
  .header-iner {
    justify-content: space-around;
  }
  .header-iner .form-control {
    justify-content: space-evenly;
  }
  .header-iner .form-control .menu-bar {
    order: 2;
  }
  .header-iner .form-control .menu-bar .menu-icon {
    display: block;
    color: #fff;
  }
  .header-iner .form-control .menu-bar .row {
    transition: all, 0.5s;
    -webkit-transform: all, 0.5s;
    -moz-transform: all, 0.5s;
    -ms-transform: all, 0.5s;
    -o-transform: all, 0.5s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    flex-direction: column;
    position: fixed;
    top: 101px;
    z-index: 99;
    background-color: #222;
    height: 330px;
  }
  .header-iner .form-control .menu-bar .row .col {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    width: 0;
  }
  .header-iner .form-control .menu-bar .row .col:last-child {
    display: block;
    color: #fff;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .header-iner .form-control .menu-bar .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .header-iner .form-control .icon {
    order: 1;
    padding: 0;
  }
  .navbar .category-iner {
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar .category-iner .dumbbell {
    display: flex;
  }
  .navbar .category-iner .dumbbell .dum {
    width: 390px;
    background-color: #fff;
  }
  .navbar .category-iner .stregth {
    display: flex;
  }
  .navbar .category-iner .stregth .streg {
    width: 390px;
  }
  .navbar .category-iner .power {
    display: flex;
  }
  .navbar .category-iner .power .pow {
    width: 390px;
  }
}
/*---------- Max Width 992px -------------*/
@media all and (max-width: 992px) {
  .col {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .navbar .banner .img-woman-2 {
    opacity: 0.85;
  }
  .navbar .category-iner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar .category-iner p {
    display: none;
  }
  .navbar .category-iner .dumbbell .dum-img {
    display: none;
  }
  .navbar .category-iner .dumbbell .dum {
    width: 200px;
    height: 200px;
    background-color: #898989;
  }
  .navbar .category-iner .stregth .streg-img {
    display: none;
  }
  .navbar .category-iner .stregth .streg {
    height: 200px;
    width: 200px;
    background-color: #898989;
  }
  .navbar .category-iner .power .pow-img {
    display: none;
  }
  .navbar .category-iner .power .pow {
    width: 200px;
    height: 200px;
    background-color: #898989;
  }
  .blog {
    margin-top: 590px;
  }
  .blog .blog-slider .news .client-say {
    width: 500px;
  }
  .blog .list-logo {
    padding-left: 0;
  }
  .blog .list-logo-iner .row .logo {
    width: 33.333%;
    padding: 0 40px;
    box-sizing: border-box;
    line-height: 100px;
  }
}
/*---------- Max Width 768px -------------*/
@media all and (max-width: 768px) {
  .header-iner {
    justify-content: flex-start;
  }
  .header-iner .form-control {
    width: 300px;
  }
  .header-iner .form-control .menu-icon {
    padding-left: 70px;
  }
  .navbar .banner .img-woman-1 {
    display: none;
  }
  .navbar .banner .img-woman-2 {
    display: none;
  }
  .navbar .category-iner {
    margin-top: -40px;
  }
  .navbar .category-iner span {
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .category-iner .dumbbell .dum {
    width: 170px;
    height: 170px;
  }
  .navbar .category-iner .stregth .streg {
    width: 170px;
    height: 170px;
  }
  .navbar .category-iner .power .pow {
    width: 170px;
    height: 170px;
  }
  .blog .blog-slider .news span {
    width: 350px;
  }
  .blog .blog-slider .news .client-say {
    width: 350px;
  }
  .footer-iner .description {
    width: 100%;
  }
  .footer-iner .description .logo {
    align-items: center;
    margin-bottom: 15px;
  }
  .footer-iner .description p {
    width: 350px;
    display: contents;
  }
  .footer-iner .description .list-icon {
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
/*---------- Max Width 576px -------------*/
@media all and (max-width: 576px) {
  .header-iner {
    display: contents;
  }
  .header-iner .logo {
    justify-content: center;
  }
  .header-iner .form-control {
    width: 350px;
  }
  .navbar .banner .img-wall-1 {
    max-height: 850px;
  }
  .navbar .banner .img-wall-2 {
    max-height: 850px;
    margin-top: -850px;
  }
  .navbar .banner .container {
    height: 850px;
  }
  .navbar .banner .container .info {
    top: 350px;
  }
  .navbar .banner .container .info .text-title {
    font-size: 40px;
    font-weight: 600;
  }
  .navbar .banner .container .info .text-title p {
    font-size: 30;
    font-weight: 600;
  }
  .navbar .banner .container .info .text-des {
    width: 300px;
  }
  .navbar .category-iner {
    margin-top: 0px;
    justify-content: space-between;
  }
  .navbar .category-iner span {
    display: none;
  }
  .navbar .category-iner .dumbbell .dum {
    height: 50px;
    width: 50px;
    background-color: transparent;
  }
  .navbar .category-iner .dumbbell .dum-icon {
    height: 50px;
    width: 50px;
    font-size: 10px;
    padding-bottom: 0;
  }
  .navbar .category-iner .stregth .streg {
    height: 50px;
    width: 50px;
    background-color: transparent;
  }
  .navbar .category-iner .stregth .streg-icon {
    height: 50px;
    width: 50px;
    font-size: 10px;
    padding-bottom: 0;
  }
  .navbar .category-iner .power .pow {
    height: 50px;
    width: 50px;
    background-color: transparent;
  }
  .navbar .category-iner .power .pow-icon {
    height: 50px;
    width: 50px;
    font-size: 10px;
    padding-bottom: 0;
    padding-top: 33px;
  }
  .product .col {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .product-iner .tab-bar nav {
    margin-top: 88px;
  }
  .product-iner .tab-bar nav li {
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
  }
  .blog {
    margin-top: 1900px;
  }
  .blog .blog-slider .news span {
    font-size: 20px;
    font-weight: 600;
    width: 200px;
  }
  .blog .blog-slider .news .client-say {
    display: none;
  }
  .blog .list-logo {
    padding-left: 0;
  }
  .blog .list-logo-iner .row .logo {
    width: 50%;
    padding: 0 40px;
    box-sizing: border-box;
    line-height: 100px;
  }
  .footer .copyright {
    font-size: 10px;
  }
}
/*---------- Max Width 375px -------------*/
@media all and (max-width: 375px) {
  .header-iner {
    display: contents;
  }
  .header-iner .logo {
    justify-content: center;
  }
  .header-iner .form-control {
    width: 250px;
  }
  .product .col {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .product-iner .tab-bar nav {
    margin-top: 88px;
  }
  .product-iner .tab-bar nav li {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
  }
  .blog .blog-slider .news span {
    font-size: 15px;
    font-weight: 600;
    width: 150px;
  }
  .blog .list-logo-iner .row .logo {
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 100px;
  }
  .footer .col {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .footer .copyright {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */