/*--------------- Mixin ----------------*/
.appearance (@_canet) {
    appearance: @_canet;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.transformer (@_scale) {
    transform: @_scale;
    -webkit-transform: @_scale;
    -moz-transform: @_scale;
    -ms-transform: @_scale;
    -o-transform: @_scale;
}

.transit (@_attr, @_sec) {
    transition: @_attr, @_sec;
    -webkit-transform: @_attr, @_sec;
    -moz-transform: @_attr, @_sec;
    -ms-transform: @_attr, @_sec;
    -o-transform: @_attr, @_sec;
}
/*--------------- End Mixin ----------------*/
