/*------------- Header -------------*/
.header {
    position: fixed;
    width: 100%;
    background-color: @bg-header;
    opacity: 0.9;
    transition: top 0.5s ease;
    z-index: 50;
    &-iner {
        align-items: center;
        display: flex;
        justify-content: space-between;      

        .logo {
            cursor: pointer;
            padding: 20px 0;
        }

        .form-control {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 881px;

            .menu-bar {
                font-size: 16px;
                font-weight: 400;
                text-align: center; 

                .row {
                    width: 592px;
                    .col {
                        box-sizing: border-box;
                        padding: 0 30px;
                        width: 16.666%;

                        a {
                            color: @text-white-color; 
                        }
                        
                        &:last-child {
                            display: none;
                        }
                    } 
                }
                
                .menu-icon {
                    display: none;
                }
            }

            .icon {
                color: @text-white-color;
                display: flex;
                padding-left: 131px;
                text-align: right;
                
                &-search {
                    cursor: pointer;
                    font-size: 16px;
                    padding: 0 26px 0 25px;
                }

                &-cart {
                    border-left: 1px solid @mini-title-color;
                    border-right: 1px solid @mini-title-color;
                    cursor: pointer;
                    font-size: 16px;
                    padding: 0 26px 0 32px;
                }

                &-user {
                    cursor: pointer;
                    font-size: 16px;
                    margin-left: 26px;
                }      
            }
        }
    }
}
/*------------- End Header -------------*/


  
        
                  
        
        
    
    

