/*-------------- Responsive -------------*/
/*--------------------------------
    [Table of contents]
    
    1 Max Width 1200px
    2 Max Width 992px
    3 Max Width 768px
    4 Max Width 576px
    5 Max Width 375px
    
----------------------------------*/

/*---------- Max Width 1200px -------------*/
@media all and (max-width: 1200px) {
    .header {
        &-iner {
            .menu-icon {
                display: block;
                color: @text-white-color;
                border-left: 1px solid @mini-title-color;
                padding-right: 20px;
                padding-left: 25px;
            }

            .form-control {
                .menu-bar {
                    .row {
                        .transit(all, .5s);
                        .transformer(translateX(100%));
                        flex-direction: column;
                        position: fixed;
                        top: 101px;
                        right: 0;
                        z-index: 99;
                        background-color: rgba(0,0,0,0.6);
                        height: 330px;
                        width: 20vw;
                        .col {
                            padding-bottom: 15px;
                            font-size: 20px;
                            font-weight: 700;
                            width: 0;

                            &:last-child {
                                display: block;
                                color: @text-white-color;
                                padding-bottom: 15px;
                                font-size: 20px;
                                font-weight: 700; 
                            }
                        }
                    }

                    .active {
                        .transformer(translateX(0));
                    }
                }

                .icon {
                    padding: 0;

                    &-user {
                        padding-right: 25px;
                    }
                }
            }
        }
    }

    .navbar {
        .category {
            &-iner {
                flex-direction: column;
                align-items: center;
                -webkit-box-shadow: none; 
                box-shadow: none; 
                .dumbbell {
                    display: flex;

                    .dum {
                        width: 390px;
                        background-color: @text-white-color;
                    }
                }

                .stregth {
                    display: flex;

                    .streg {
                        width: 390px;
                    }
                }

                .power {
                    display: flex;

                    .pow {
                        width: 390px;
                    }
                }
            }
        }
    }

    .product {
        .col {
            .cols(50%);
        }
        &-iner {
            .tab-bar {
                margin-top: 310px;
            }
            .top-selling {
                .row {
                    .product {
                        .control {
                            padding-bottom: 30px;
                        }
                        .info {
                            display: contents;
                        }
                    }
                }
            }
        }
    }

    .blog {
        margin-top: 700px;

        .list-logo {
            padding-left: 0;

            &-iner {
                .row {
                    .logo {
                        width: 33.333%;
                        text-align: center;
                    }
                }
            }
        }
    }

    .footer {
        .col {
            .cols(50%);
        }
        
        .all-info {
            .row {
                span {
                    margin-bottom: 15px;
                    margin-top: 10px;
                }
            }
        }
    }
}

/*---------- Max Width 992px -------------*/
@media all and (max-width: 992px) {
    .navbar {
        .category {
            &-iner {
                img {
                    width: 50%;
                }
            }
        }
    }

    .blog {
        .blog-slider {
            .news {
                .client-say {
                    width: 500px;
                }
            }
        }
    }
}
/*---------- Max Width 768px -------------*/
@media all and (max-width: 768px) {
    .header {
        &-iner {
            .form-control {  
                .menu-bar {
                    .row {
                        width: 30vw;
                    }
                }
            }
        }
    }

    .navbar {
        .category {
            &-iner {
                p {
                    width: 250px;
                }

                .dumbbell {
                    .dum {
                        width: 50%;
                    }
                }

                .stregth {
                    .streg {
                        width: 50%;
                    }
                }

                .power {
                    .pow {
                        width: 50%;
                    }
                }
            }
        }
    }

    .blog {
        .slick-dots {
            margin-top: 5px;
        }

        .blog-slider {
            .news {
                span {
                    width: 300px;
                }
                .client-say {
                    width: 300px;
                }
            }
        }
    }

    .footer {
        &-iner {
            .description {
                width: 100%;
                p {
                    width: 300px;
                    display: contents;
                }

                .logo {
                    align-items: center;
                    margin-bottom: 15px;
                }

                .list-icon {
                    margin-left: 0;
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }
            }
        }
    }
}

/*---------- Max Width 576px -------------*/
@media all and (max-width: 576px) {
    .header {
        &-iner {
            .logo {
                padding-bottom: 0;
            }

            width: 300px;
            display: contents;
            .menu-icon {
                padding-right: 0;
                padding-left: 90vw;
                margin-top: -25px;
                border-left: none;
            }

            .form-control {           
                width: 180px;
                .menu-bar {
                    .row {
                        top: 106px;
                        width: 180px;
                    }
                }
                .icon {
                    &-search {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    .navbar {
        .banner {
            .container {
                .info {
                    .text {
                        &-title {
                            font-size: 40px;
                            font-weight: 700;
                            p {
                                font-size: 30px;
                                font-weight: 700;
                            }
                        }
                        &-des {
                            width: 300px;
                        }
                    }
                }
            }
        }

        .category {
            &-iner {
                span {
                    font-size: 14px;
                    font-weight: 500;
                }

                p {
                    display: none;
                }

                .dumbbell {
                    width: 100%;
                    .dum-img {
                        width: 50%;
                    }
                    .dum {  
                        height: 100px;
                        width: 50%;
                        padding-top: 15px;
                        &-icon {
                            padding: 10px;
                        }
                    }
                }

                .stregth {
                    width: 100%;
                    .streg-img {
                        width: 50%;
                    }
                    .streg {
                        height: 100px;
                        width: 50%;
                        padding-top: 15px;
                        &-icon {
                            padding: 10px;
                        }
                    }
                }

                .power {
                    width: 100%;
                    .pow-img {
                        width: 50%;
                    }
                    .pow {
                        height: 100px;
                        width: 50%;
                        padding-top: 15px;
                        &-icon {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
        
    .product {
        .col {
            .cols(100%);
        }
        &-iner {
            .tab-bar {
                margin-top: 25px;
                
                .text {
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px;
                }
            }
        }
    }

    .blog {
        margin-top: 2200px;
        .slick-dots {
            margin-top: -60px;
        }
        
        .blog-slider {
            .news {
                span {
                    font-size: 20px;
                    font-weight: 600;
                    width: 200px;
                }

                .client-say {
                    display: none;
                }
            }
        }
        .list-logo {
            padding-left: 0;

            &-iner {
                .row {
                    .logo {
                        width: 50%;
                    }
                }
            }
        }
    }

    .footer {
        .col {
            .cols(100%);
        }
        .copyright {
            font-size: 10px;
        }
    }
}

@media all and (max-width: 500px) {
    .product {
        &-iner {
            .tab-bar {
                margin-top: -40px;   
            }
        }
    }
}

@media all and (max-width: 420px) {
    .product {
        &-iner {
            .tab-bar {
                margin-top: -115px;   
            }
        }
    }
}

/*---------- Max Width 375px -------------*/
@media all and (max-width: 375px) {
    .header {
        &-iner {
            .menu-icon {
                padding-left: 80vw;
            }
            
        }
    }

    .navbar {
        .category {
            &-iner {
                span {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }

    .product {
        &-iner {
            .tab-bar {
                margin-top: -130px;
                
                .text {
                    font-size: 12px;
                    font-weight: 500;
                    padding: 10px;
                }
            }
        }
    }

    .blog {
        .blog-slider {
            .news {
                span {
                    font-size: 15px;
                    font-weight: 600;
                    width: 150px;
                }
            }
        }

        .list-logo {
            &-iner {
                .row {
                    .logo {
                        padding: 0 10px;
                        box-sizing: border-box;
                        line-height: 100px;
                    }
                }
            }
        }
    }

    .footer {
        .col {
            .cols(100%);
        }
        .copyright {
            p {
                padding-top: 5px;
                font-size: 12px;
                line-height: normal;
            }
        }
    }
}